@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: dark;
  }
}

@layer utilities {
  .body-container {
    width: 100%;
    max-width: theme(maxWidth.7xl);
    margin-inline: auto;
    padding-inline: theme(padding.4);
  }

  @media screen(sm) {
    .body-container {
      padding-inline: theme(padding.8);
    }
  }

  @media screen(md) {
    .body-container {
      padding-inline: theme(padding.12);
    }
  }

  @media screen(lg) {
    .body-container {
      padding-inline: theme(padding.20);
    }
  }
}
